<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>BLOG przedziwny</title>
</head>
<body>
  <div>
    <h1>Witam na stronie</h1>
    <h2>Blog o wszystkim</h2>
    <h3>Autor: Łukasz Mazurkiewicz</h3>
    <h4>Wszelkie prawa zastrzeżone</h4>
  </div>
  <div>
    <p>Akapit</p>
    <em>Tekst wyróżniony</em>
    <strong>Tu jest pogrubiony tekst</strong>
    <a href="https://www.pzlow.pl">LINK</a>
  </div>
  <div>
    <ul>
      <li>element listy</li>
      <li>element listy</li>
      <li>element listy</li>
    </ul>
  </div>
</body>
</html>